<a href="https://colab.research.google.com/github/Deewourne/Arise-week2/blob/master/Classification.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
# Classification template

# Importing the libraries
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [0]:
#Import the dataset
datasets = pd.read_csv('Churn_Modelling.csv')

In [3]:
datasets.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [4]:
#Group the datasets into dependent and independent variable
X = datasets.iloc[:, 3:13].values #this takes from the 3rd column (which is obviously needed in the prediction) to the 12th column
#Note: 13th column or last column in the code is always excluded for list
y = datasets.iloc[:, 13].values
X

array([[619, 'France', 'Female', ..., 1, 1, 101348.88],
       [608, 'Spain', 'Female', ..., 0, 1, 112542.58],
       [502, 'France', 'Female', ..., 1, 0, 113931.57],
       ...,
       [709, 'France', 'Female', ..., 0, 1, 42085.58],
       [772, 'Germany', 'Male', ..., 1, 0, 92888.52],
       [792, 'France', 'Female', ..., 1, 0, 38190.78]], dtype=object)

In [5]:
#Data cleaning and tuning
#Enconding categorical data
from sklearn.preprocessing import LabelEncoder, OneHotEncoder #This enables you to transform the coding from words to nominal eg o,1,2

#Instatiate label encoder for the intended column
LE_X_1 = LabelEncoder()
X[:, 1]= LE_X_1.fit_transform(X[:, 1]) #then activate the transformation 1 means first column
#Instatiate again for another column
LE_X_2 = LabelEncoder()
X[:, 2] = LE_X_2.fit_transform(X[:, 2]) #2 means 3rd colmn

#What OHT does is to convert all ordinal data (once it is more than 2 variables it automatically becomes ordinal variable) to nominal (country column with is the 2nd but 1 in list) 
OHT = OneHotEncoder(categorical_features = [1]) #Instatiate the function 1 means 2nd column
X = OHT.fit_transform(X).toarray() #Tranform the function

/usr/local/lib/python3.6/dist-packages/sklearn/preprocessing/_encoders.py:371: FutureWarning: The handling of integer data will change in version 0.22. Currently, the categories are determined based on the range [0, max(values)], while in the future they will be determined based on the unique values.
If you want the future behaviour and silence this warning, you can specify "categories='auto'".
In case you used a LabelEncoder before this OneHotEncoder to convert the categories to integers, then you can now use the OneHotEncoder directly.
  warnings.warn(msg, FutureWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/preprocessing/_encoders.py:392: DeprecationWarning: The 'categorical_features' keyword is deprecated in version 0.20 and will be removed in 0.22. You can use the ColumnTransformer instead.
  "use the ColumnTransformer instead.", DeprecationWarning)

In [6]:
#the dummy variable automatially creates for asmuch column that needs recoding as you can have, so we remove one  *I'll revisit
X = X[:, 1:]
X

array([[0.0000000e+00, 0.0000000e+00, 6.1900000e+02, ..., 1.0000000e+00,
        1.0000000e+00, 1.0134888e+05],
       [0.0000000e+00, 1.0000000e+00, 6.0800000e+02, ..., 0.0000000e+00,
        1.0000000e+00, 1.1254258e+05],
       [0.0000000e+00, 0.0000000e+00, 5.0200000e+02, ..., 1.0000000e+00,
        0.0000000e+00, 1.1393157e+05],
       ...,
       [0.0000000e+00, 0.0000000e+00, 7.0900000e+02, ..., 0.0000000e+00,
        1.0000000e+00, 4.2085580e+04],
       [1.0000000e+00, 0.0000000e+00, 7.7200000e+02, ..., 1.0000000e+00,
        0.0000000e+00, 9.2888520e+04],
       [0.0000000e+00, 0.0000000e+00, 7.9200000e+02, ..., 1.0000000e+00,
        0.0000000e+00, 3.8190780e+04]])

In [0]:
#Split the datasets
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.2, random_state = 0)

In [0]:
# Feature Scaling
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

DATA is ready for ANN

In [10]:
import keras

Using TensorFlow backend.

In [0]:
#Import keras libraries and packages, sequential to initialize the network, dens module to build the hidden layers
from keras.models import Sequential
from keras.layers import Dense

#INITIALIZING ANN

In [0]:
#Initialize or instantiate the model
classifier = Sequential()

In [13]:
#Adding input layer and hidden layer
classifier.add(Dense(output_dim = 6, init = 'uniform', activation = 'relu', input_dim = 11)) #output dim means number of nodes in the output layer
#this can be gotten (if you don't want to be an artist by dividing the number of eatures (input) by the output if it is categorical)
#which in this case is 11+1/2 = 6.
#Init randomizr the weigh as small number close to 0.   ACTIVATION: which is relu for the hiden layers and sigmoid for output layer.
#Imut dim means number of independent variables in the input layer. It is compulsory to add input dim because no layer has been created yet so the machine needs to pass input data into the memory

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/tensorflow/python/framework/op_def_library.py:263: colocate_with (from tensorflow.python.framework.ops) is deprecated and will be removed in a future version.
Instructions for updating:
Colocations handled automatically by placer.

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: UserWarning: Update your `Dense` call to the Keras 2 API: `Dense(activation="relu", input_dim=11, units=6, kernel_initializer="uniform")`
  """Entry point for launching an IPython kernel.